{% extends 'base.html' %}

{% block content %}
    <h1>Bem-vindo ao seu Tracker!</h1>
    <p>Use o menu acima para navegar entre seus jogos zerados e o seu backlog.</p>
    
    <div class="dashboard-resumo">
        <p>Você tem <strong>{{backlog}}</strong> jogos no Backlog.</p>
        <p>Você já zerou <strong>{{zerados}}</strong> jogos!</p>
    </div>

    <h2>Recomendacoes</h2>

    {% if recomendacoes %}
    <div>
        <div class="carrossel-container">
            {% for rec in recomendacoes %}
            <div class="carrossel-card">
                <img src="{{rec.imagem}}" class="carrossel-img">
                <div class="carrossel-conteudo">
                    <h4 class="carrossel-titulo" title="{{rec.titulo}}">{{rec.titulo}}</h4>

                    <form action="{{ url_for('main.adicionar_jogo') }}" method="POST" class="carrossel-form">
                        <input type="hidden" name="titulo" value="{{ rec.titulo }}">
                        <input type="hidden" name="genero" value="Recomendacao">

                        <button type="submit" name="status" value="Wishlist" class="btn-acao btn-wishlist">
                            Wishlist
                        </button>

                        <button type="submit" name="status" value="Backlog" class="btn-acao btn-backlog">
                            Backlog
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="card">
        <h3> Adicionar novo jogo </h3>

        <form action="/adicionar" method="POST" class="form-cadastro">
            <input type="text" name="titulo" placeholder="nome do joguinho" required>
            <input type="text" name="genero" placeholder="genero do joguinho" required>
            <select name="status">
                <option value="Backlog"> Na fila(Backlog) </option>
                <option value="Zerado"> Zerado </option>
                <option value="Wishlist"> Vou comprar (algum dia) </option>
            </select>

            <button type="submit">Salvar Jogo</button>
        </form>
    </div>
{% endblock %}